# Salin jadi secrets.toml lalu isi key asli kamu.

[providers.atria]
api_key = ""

[providers.gemini]
api_key = ""

[providers.llm7]
api_key = ""

[providers.ollama]
api_key = ""

[providers.cohere]
api_key = ""

[providers.openrouter]
api_key = ""

[providers.groq]
api_key = ""

